<div class="logo text-center">
    <img width="300" src="assets/nazer2.png" alt="">

</div>

<div class="registration-form m-3 p-4">
    <form [formGroup]="registroForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Primer Nombre</mat-label>
                    <input formControlName ="PrimerNombre" matInput placeholder="PrimerNombre">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input formControlName ="apellido" matInput placeholder="apellido">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="correo">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input formControlName ="celular" matInput placeholder="celular">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Departamento/Ciudad</mat-label>
                    <input formControlName ="Residencia" matInput placeholder="Residencia">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Cargo a ejercer</mat-label>
                    <mat-select formControlName ="cargo">
                      <mat-option *ngFor="let cargo of cargos" [value]="cargo">
                        {{cargo}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Estrato</mat-label>
                    <input type="numero" formControlName="estrato" matInput placeholder="estrato">
                    <mat-icon matSuffix>line_weigth</mat-icon>
                    <mat-hint>Unicamente un numero</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Numero de hijos</mat-label>
                    <input type="numero" formControlName="hijos" matInput placeholder="hijos">
                    <mat-icon matSuffix><i class="fa fa-text heigth" aria-hidden="true"></i></mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Requiere información personalizada?</label>
                <mat-radio-group formControlName ="TrainerOpt" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['Yes', 'No']" [value]="trainerOpt">
                        {{trainerOpt}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Sexo</label>
                <mat-radio-group formControlName ="generos" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let generos of ['Femenino', 'Masculino']" [value]="generos">
                        {{generos}}
                    </mat-radio-button>
                    </mat-radio-group>
                <div>  </div>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Curso de interés</mat-label>
                    <mat-select formControlName ="package">
                      <mat-option *ngFor="let package of packages" [value]="package">
                        {{package}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>¿Por qué medios te enteraste de Nazer?</mat-label>
                    <mat-select multiple formControlName ="red">
                      <mat-option *ngFor="let red of redes" [value]="red">
                        {{red}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <button (click)="cargar()" class="mat-raised-button" color="accent"> Cargar </button>
    </form>
</div>